<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
{% block title %}
<h1>base layout</h1>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<p>content
{% endblock %}
</body>
</html>