<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>upload files</title>
  <style>
  main {
    margin: 100px auto;
    width: 600px;
  }
  input[type=checkbox], input[type=radio] {
    margin-right: 30px;
  }
  </style>
</head>
<body>
  <main>
    <h2>上传文件</h2>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <p><input type="text" value="tofishes" name="title"></p>
      <p>篮球：<input checked type="checkbox" name="box" value="basketball">
        足球：<input type="checkbox" name="box" value="football">
        网球：<input checked type="checkbox" name="box" value="tennis">
      </p>
      <p>床：<input type="radio" name="rest" value="bed">
        椅子：<input checked type="radio" name="rest" value="chair">
      </p>
      <p><textarea name="content" cols="30" rows="10">some contents</textarea></p>
      <p><input type="file" name="avatar" multiple="multiple"></p>
      <p><input type="submit" value="提交上传"></p>
    </form>
  </main>
</body>
</html>